*{
	padding:0px;
	margin:0px;
}
#myNavbar ul li a:hover{background:#fff; color:#000 !important;}
.dropdown ul li a{
	background-color:#003f7a;
	color:white;
	margin-top:-5px;
	margin-bottom:-5px;
	padding-top:7px;
	padding-bottom:10px;
}
.dropdown-menu ul li a:hover{
	background-color:white;
	color:black;
}